---
import { getCollection, render } from "astro:content"
import type { GetStaticPaths } from "astro"
import CodeBtns from "@components/blog/codeblock_btns.astro"
import Footer from "@components/main/footer.astro"
import Navbar from "@components/main/navbar.astro"
import Toc from "@components/blog/toc.astro"
import Layout from "@components/layout.astro"
import BskyComments from "@components/blog/bsky_comments.astro"

import "../../styles/blog.css"
import { ISO } from "@utils/date"

export const getStaticPaths = (async () => {
  const test_blog = import.meta.env.DEV ? await getCollection("test_blog") : []
  const blog = await getCollection("blog")
  const collection = [...test_blog, ...blog]
	return collection.map(post => ({
		params: { slug: post.id },
		props: { post },
	}))
}) satisfies GetStaticPaths

const { Content, headings } = await render(Astro.props.post)
const post = Astro.props.post.data
---

<Layout title={post.title}>
  <Navbar slot="header" label="post" />
	<article>
		<header>
			<h1>{post.title}</h1>
			<p id="info">
				<span title={ISO(post.createdAt)}>Publ: <time>{ISO(post.createdAt, true)}</time></span>
				{post.updatedAt &&
					<span title={ISO(post.updatedAt)}>Upd: <time>{ISO(post.updatedAt, true)}</time></span>
				}
			</p>
			{
				headings.length > 0 && (
					<details id="toc">
						<summary>Table of Contents</summary>
						<Toc {headings} />
					</details>
				)
			}
		<hr />
		</header>
		<Content />
		{post.bskyPostUri && (
		  <hr>
      <details>
        <summary>Comments</summary>
        <BskyComments uri={post.bskyPostUri} />
      </details>
		)}
	</article>
	<CodeBtns />
	<Footer slot="footer" />
</Layout>

<style>
	#info {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em 2ch;

		> * {
			border: 1px solid var(--bg-secondary);
			padding: 0.1em calc(1ch - 1px);
		}
	}

	@media (width >= 1700px) {
		#toc {
			position: fixed;
			padding: 1rlh 2ch;
			background-color: var(--bg);
			transform: translateY(-50%);
			top: 50%;
			right: 0;
			margin: 2ch;
			max-height: 70svh;
			width: 35ch;

			&[open] {
				overflow-y: scroll;
			}
		}
	}

	:global(body:has(#toc:hover) .topheader) {
		transform: none;
	}
</style>
