---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/posinega.astro";
import Navbar from "../../components/navbar.astro";
import Footer from "../../components/footer.astro";

const iso_date = (date: Date) => date.toISOString().slice(0, 10)
export const getStaticPaths = async () => {
	const posts = await Promise.all([
		getCollection("blog"),
		getCollection("blog_mdx")
	]);

	return posts.flat().map((post) => ({
		params: { slug: post.id },
		props: { post, fm: post.data, is_mdx: post.data._mdx },
	}));
};

const { post, fm, is_mdx } = Astro.props;
const { Content } = await render(post);
---

<Layout title={fm.title}>
	<Navbar slot="header" label="Blog Post"/>
	<h1>{fm.title}</h1>
	<p>
		Published : {iso_date(fm.createdAt)}
		<br>
		{ fm.updatedAt ? `Updated : ${iso_date(fm.updatedAt)}` : null }
	</p>
	<a href={`/blog/${post.id}.${is_mdx ? "mdx" : "md"}`}>
		{is_mdx ? "MDX" : "Markdown"}
	</a>
	<hr>
	<Content />
	<Footer slot="footer" />
</Layout>

