---
import { getEntry } from "astro:content";
import { ISO } from "@utils/date";
import ThemeSwitcher from "./theme_switcher.astro";

const gitHash = (await getEntry("gitInfo", "0")!).data.output;
const lastChangeEpoch = (await getEntry("gitInfo", "1")!).data.output;

const date = new Date(parseInt(lastChangeEpoch, 10) * 1000);
const commitUrl = `${import.meta.env.REPO_URL}/commit/${gitHash}`;
const statusUrl = `https://status.${Astro.site?.hostname}`;
---

<footer>
  <section class="top links">
    <a href="/privacy/">/privacy</a>
    <a href="/disclaimer/">/disclaimer</a>
    <a href="/guestbook/">/guestbook</a>
    <a href={statusUrl} rel="external nofollow">/status</a>
  </section>
  <hr />
  <section class="bottom">
    <div class="left">
      <div class="copy">
        <span id="cl">&copy;</span>2022-{new Date().getFullYear()}
        <a
          href="https://www.gnu.org/licenses/gpl-3.0.en.html"
          rel="external nofollow">GPLv3</a
        >
      </div>
      <div>Made with &lt;3</div>
    </div>
    <div class="right">
      <div class="js">
        <label for="theme-select">Theme:&nbsp;</label>
        <ThemeSwitcher id="theme-select" />
      </div>
      <div class="commit">
        Version<a href={commitUrl} rel="external nofollow">{gitHash}</a>
        <time datetime={ISO(date)} title={ISO(date)}>({ISO(date, true)})</time>
      </div>
    </div>
  </section>
</footer>

<style>
  footer {
    z-index: 1;
    padding: 0.2em var(--side-padding);
    background-color: var(--bg);
    border-top: 1px solid var(--bg-secondary);

    hr {
      margin: 1rlh 0;
    }
  }

  .top {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    gap: 1em 3ch;

    a {
      text-decoration: none;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .copy, .commit {
      display: flex;
      column-gap: 1ch;
    }
  }

  #cl {
    display: inline-block;
    transform: scale(-1, 1);
  }

  section {
    margin: 1em 0;

    .right,
    .left {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
    }
  }

  @media (width >= 768px) {
    .bottom {
      justify-content: space-between;
      align-items: start;
      flex-direction: row;
    }

    .right {
      text-align: right;
    }
  }

  @media (scripting: none) {
    .right::before {
      display: block;
      content: "JS is not required btw :)";
      color: var(--accent);
    }
  }
</style>
