---
import { hash, timestamp } from "../../../public/gitinfo.json";

const commit_url = `${import.meta.env.REPO_URL}/commit/${hash}`;
---

<footer>
	<section class="top links">
		<a href="/privacy">/privacy</a>
		<a href="/disclaimer">/disclaimer</a>
		<a href="/guestbook">/guestbook</a>
		<a href={`https://status.${Astro.site?.hostname}`} rel="external nofollow">/status</a>
	</section>
	<hr />
	<section class="bottom">
		<div class="left">
			<div>
				<span id="cl">©</span> 2022-{new Date().getFullYear()}
				<a
					href="https://www.gnu.org/licenses/gpl-3.0.en.html"
					rel="external nofollow">GPLv3</a
				>
			</div>
			<div>Made with &lt;3</div>
		</div>
		<div class="right">
			<div class="js">
				<label for="theme-select">Theme:&nbsp;</label><select
					name="theme"
					id="theme-select"
				>
					<option value="system">System</option>
					<option value="light">Light</option>
					<option value="dark">Dark</option>
				</select>
			</div>
			<div>
				Version <a href={commit_url} rel="external nofollow">{hash}</a>
				<time datetime={timestamp}>{timestamp}</time>
			</div>
		</div>
	</section>
</footer>

<script>
	const select = document.getElementById("theme-select") as unknown as HTMLSelectElement;
	select.value = localStorage.getItem("theme") || "system";

	const set_theme = (theme: string) => {
		document.documentElement.setAttribute("theme", theme);
		localStorage.setItem("theme", theme);
	};

	select.onchange = () => {
		if (document.startViewTransition) {
			document.startViewTransition(() => { set_theme(select.value) });
		} else {
			set_theme(select.value);
		}
	};
</script>

<style>
	footer {
		z-index: 1;
		padding: 0.2em 2.5ch;
		background-color: var(--bg);
		border-top: 1px solid var(--bg-secondary);

		hr {
			margin: 1rlh 0;
		}
	}

	.top {
		display: flex;
		flex-wrap: wrap;
		margin: 1em 0;
		gap: 1em 3ch;

		a {
			text-decoration: none;
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		#cl {
			display: inline-block;
			transform: scale(-1, 1);
		}
	}

	section {
		margin: 1em 0;

		.right,
		.left {
			display: flex;
			flex-direction: column;
			row-gap: 1em;
		}
	}

	select {
		/* TODO: rework after customizable select lands in FF */
		appearance: base-select;
		cursor: pointer;
		padding: 0;
		border: none;
		background: none;
		color: var(--fg);
		font-family: inherit;
		font-size: inherit;
		text-overflow: ellipsis;

		&::picker(select) {
			appearance: base-select;
			color: var(--fg);
			cursor: initial;
			border: 1px solid var(--fg-secondary);
		}

		&:open::picker-icon {
			rotate: 180deg;
		}

		&:hover {
			color: var(--accent);
		}
	}

	option {
		background-color: var(--bg);
		padding: 0.25lh 1ch;

		&:hover {
			background-color: color-mix(
				in srgb,
				var(--bg-secondary),
				transparent 40%
			);
		}

		&::checkmark {
			order: 1;
			margin-left: auto;
		}
	}

	@media (width >= 768px) {
		.bottom {
			justify-content: space-between;
			align-items: start;
			flex-direction: row;
		}

		.right {
			text-align: right;
		}
	}

	@media (scripting: none) {
		.left::after {
			display: block;
			content: "JS is not required btw :)";
			margin: 1em 0;
		}
	}
</style>
