---
import { getCollection } from "astro:content"
import Footer from "../components/footer.astro"
import Navbar from "../components/navbar.astro"
import Layout from "../layouts/posinega.astro"

const social_links = [
	{ href: "https://bsky.app/profile/azrd.dev", text: "bluesky" },
	{ href: "https://web.facebook.com/app.yaml", text: "facebook" },
	{ href: "https://t.me/azisrdn", text: "telegram" },
	{ href: "mailto:hi+web@azrd.dev", text: "email" },
]

const collections = await Promise.all([
	getCollection("blog"),
	getCollection("blog_mdx"),
])

const recent_posts = collections
	.flat()
	.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
	.slice(0, 3)

const ascii_art = `
       .    *          .                .                                       
   .                                .                      .     .         *    
       .         .          *                  .     *                  .       
 .    *                      .      .                  .                     .  
              #######                                          *                
............###    #####.....................####................#####..........
:::::::::::##      ##$ ###::::::::::::::::###$#####::::::::::::##""$$####:::::::
~~~~~~~~~##         #$"" ###~~~~~~~~~~#####""$$##  ###--~~~~###   ""$"# ###~~~~~
======###            $$""" ####===#####      "$$##   #######       $$" ##  ###==
%%%####              ##$$"""  #####             $$#   #####       $$ """###  ###
###                   ##$$$"""   ###             $..       ###$$$$     "  ##    
  ###                  ###$$$      ####           #...                     ###  
                         ## $$        ##             ...                     #  
`
---

<Layout title="azrd">
	<Navbar slot="header" />
	<div class="marquee" aria-hidden="true">
		<pre>{ascii_art}</pre>
		<pre>{ascii_art}</pre>
	</div>
	<section>
		<h1>Hi, i'm azrd</h1>
		<p>
			Welcome to my humble website, feel free to explore as much as you
			want.
		</p>
		<p>
			I'm an amateur developer who likes topics about software. Currently
			enrolled in a university, learning about information systems.
		</p>
	</section>
	<section>
		<p>Here are some links where you can reach me:</p>
		<div id="_links">
			{social_links.map((link) => <a href={link.href}>{link.text}</a>)}
		</div>
	</section>
	<hr />
	{recent_posts.length > 0 && (
		<section>
			<h1>Recent Blog Posts</h1>
			<ul>
				{recent_posts.map((post) => (
					<li><a href={`/blog/${post.id}`}>{post.data.title}</a></li>
				))}
			</ul>
		</section>
	)}
	<Footer slot="footer" />
</Layout>

<style>
	#_links {
		margin: 2em 0;
		display: flex;
		flex-wrap: wrap;
		column-gap: 3ch;
		row-gap: 1rlh;
	}

	@keyframes marquee {
		to { transform: translate(-100%)}
	}

	.marquee {
		display: flex;
		border: 2px solid var(--bg-secondary);
		position: relative;
		margin: 2rem 0;
		overflow: hidden;

		pre {
			margin: 0;
			font-family: inherit;
			line-height: 1;
			font-variant-ligatures: none;
		}

		@media (prefers-reduced-motion: no-preference) {
			pre { animation: marquee 20s steps(80) infinite }
		}

		@media (max-width: 900px) {
			font-size: 1.9vw;
		}
	}
</style>
