---
import Menu from "../components/menu.svg";

const links = [
	{ text: "/projects", href: "/projects", desc: "things i made" },
	{ text: "/blog", href: "/blog", desc: "i write too" },
	{ text: "/read", href: "/read", desc: "bookmarks and etc" },
];

const { label = Astro.site?.hostname } = Astro.props;
const is_homepage = Astro.url.pathname === "/";
---

<header>
	<span id="label">{ is_homepage ? "~/" : (<a href="/">~/</a>) } {label}</span>
	<button popovertarget="navbar-s" title="Menu">
		<Menu />
	</button>

	<nav popover id="navbar-s">
		<div class="desc">
			{links.map((link) => <span>{link.desc}</span>)}
		</div>
		<div class="links">
			{links.map((link) => <a href={link.href}>{link.text}</a>)}
		</div>
	</nav>
	<nav id="navbar-l">
		{ links.map((link) => <a href={link.href}>{link.text}</a>) }
	</nav>
</header>

<style>
	header {
		display: flex;
		view-transition-name: navbar;
		justify-content: space-between;
		border-bottom: 1px solid var(--bg-secondary);
		padding: 1rlh 2ch;
		background-color: var(--bg);
		position: sticky;
		top: 0;

		#label {
			color: var(--primary);
			a {
				text-decoration-color: var(--bg-secondary);
				text-decoration-style: dotted;
			}
		}
	}

	button {
		all: unset;
		cursor: pointer;

		&:hover {
			color: var(--primary);
		}
	}

	.links, .desc {
		display: flex;
		flex-direction: column;
		gap: 1rlh;
	}

	.links {
		text-align: right;
	}

	#navbar-s[popover] {
		top: calc(2rlh + 1lh);
		color: var(--secondary);
		background-color: var(--bg);
		justify-content: space-between;
		border: none;
		width: 100%;
		max-width: 80ch;
		margin: 0 auto;
		padding: 0 2ch 1rlh;
	}

	#navbar-s:popover-open {
		display: flex;
		border-bottom: 1px solid var(--bg-secondary);
	}

	#navbar-l {
		display: none;
	}

	@media (width >= 768px) {
		button[popovertarget="navbar-s"], #navbar-s[popover] {
			display: none;
		}

		#navbar-l {
			display: flex;
			gap: 3ch;
		}
	}
</style>
