---
import Menu from "../components/menu.svg";

const links = [
	{ href: "/projects", desc: "things i made" },
	{ href: "/blog", desc: "i write too" },
	{ href: "/read", desc: "bookmarks and etc" },
];
---

<header>
	<a id="self" href="/">{Astro.site?.hostname}</a>
	<button popovertarget="navbar-s" title="Menu">
		<Menu />
	</button>

	<nav popover id="navbar-s">
		<div class="desc">
			{links.map((link) => <p>{link.desc}</p>)}
		</div>
		<div class="links">
			{links.map((link) => <a href={link.href}>{link.href}</a>)}
		</div>
	</nav>
	<nav id="navbar-l">
		{links.map((link) => <a href={link.href}>{link.href}</a>)}
		<button class="js" onclick="history.back()">../</button>
	</nav>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid var(--bg-secondary);
		margin: 0 0 1.5em;
		padding: 1em 2ch;
		background-color: var(--bg);
		position: sticky;
		top: 0;
	}

	#self {
		text-decoration: none;
	}

	button {
		all: unset;
		cursor: pointer;

		&:hover {
			color: var(--primary);
		}
	}

	nav p {
		margin: 0;
	}

	.links, .desc {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.links {
		text-align: right;
	}

	#navbar-s[popover] {
		transition: opacity 0.2s, transform 0.2s, display 0.2s allow-discrete;
		transform: translateY(-1rem);
		opacity: 0;

		top: 3.5em;
		color: var(--secondary);
		background-color: var(--bg);
		box-shadow: 0 0.5em 1em -1em rgba(0, 0, 0, 0.5);
		justify-content: space-between;
		border: none;
		width: 100%;
		max-width: 80ch;
		margin: 0 auto;
		padding: 1em 2ch 2em;
	}

	#navbar-s:popover-open {
		display: flex;
		border-bottom: 1px solid var(--bg-secondary);

		opacity: 1;
		transform: none;

		@starting-style {
			& {
				opacity: 0;
				transform: translateY(-1rem);
			}
		}
	}

	#navbar-l {
		display: none;
	}

	@media (width >= 768px) {
		button[popovertarget="navbar-s"], #navbar-s[popover] {
			display: none;
		}

		#navbar-l {
			display: flex;
			gap: 3ch;
		}
	}
</style>
