---
import Menu from "../components/menu.svg"

const links = [
	{ text: "/about", href: "/about", desc: "who am i?" },
	{ text: "/blog", href: "/blog", desc: "i write too" },
	{ text: "/projects", href: "/projects", desc: "things i made" },
]

const { label } = Astro.props
const path_segments = Astro.url.pathname.split("/").filter(Boolean)
const breadcrumb_segments = path_segments.map((segment, index, orig) => {
	return {
		text: decodeURIComponent(segment),
		href: `/${orig.slice(0, index + 1).join("/")}`,
		index,
	}
})
---

<header class="topheader">
	<span id="label">
		<a href="/">~</a><span class="separator">/</span>
		{label ?? breadcrumb_segments.map((segment) => (
			<>
				{segment.index === 0 ? null :<span class="separator">/</span>}
				<span class="crumb">
					<a href={segment.href}>{segment.text}</a>
				</span>
			</>
		))}
	</span>
	<button popovertarget="navbar-s" title="Menu" aria-label="Toggle navigation">
		<Menu />
	</button>

	<nav popover id="navbar-s">
		<div class="desc">
			{links.map((link) => <span>{link.desc}</span>)}
		</div>
		<div class="links">
			{links.map((link) => <a href={link.href}>{link.text}</a>)}
		</div>
	</nav>
	<nav id="navbar-l">
		{links.map((link) => <a href={link.href}>{link.text}</a>)}
	</nav>
</header>

<script>
	const header = document.querySelector<HTMLElement>(".topheader")
	const mobile_menu = document.querySelector<HTMLElement>("#navbar-s")
	let last_scroll_top = 0

	window.addEventListener("scroll", () => {
		const scroll_top = window.scrollY || document.documentElement.scrollTop
		const dir = scroll_top > last_scroll_top ? "down" : "up"
		if (Math.abs(scroll_top - last_scroll_top) > 3) {
			header?.setAttribute("scroll-direction", dir)
		}
		last_scroll_top = scroll_top <= 0 ? 0 : scroll_top
		mobile_menu?.hidePopover()
	}, { passive: true })
</script>

<style>
	header {
		display: flex;
		gap: 3ch;
		justify-content: space-between;
		border-bottom: 1px solid var(--bg-secondary);
		padding: 1rlh 2ch;
		background-color: var(--bg);
		position: fixed;
		width: 100%;
		max-width: var(--max-width);
		z-index: 2;
		top: 0;
		transition: transform 0.2s ease;

		#label {
			display: flex;
			column-gap: 0.5ch;
			white-space: nowrap;
			overflow: hidden;
			flex: 1;
			color: var(--fg);

			.crumb {
				display: inline-flex;
			}

			.separator {
				color: var(--fg-secondary);
			}

			a {
				text-decoration: none;
			}
		}

		&[scroll-direction="down"] {
			transform: translateY(-100%);
			pointer-events: none;
		}
	}

	button {
		all: unset;
		cursor: pointer;

		&:hover {
			color: var(--fg);
		}
	}

	.links,
	.desc {
		display: flex;
		flex-direction: column;
		gap: 1rlh;
	}

	.links {
		text-align: right;
	}

	#navbar-s[popover] {
		top: calc(2rlh + 1lh);
		color: var(--fg-secondary);
		background-color: var(--bg);
		justify-content: space-between;
		border: none;
		width: 100%;
		max-width: 80ch;
		margin: 0 auto;
		padding: 0 2ch 1rlh;
	}

	#navbar-s:popover-open {
		display: flex;
		border-bottom: 1px solid var(--bg-secondary);
	}

	#navbar-l {
		display: none;
	}

	@media (width >= 768px) {
		button[popovertarget="navbar-s"],
		#navbar-s[popover] {
			display: none;
		}

		#navbar-l {
			display: flex;
			gap: 3ch;
		}
	}
</style>
