---
interface Props {
  message: string;
  username: string;
  url?: string | null;
  createdAt: string;
}

const { message, username, url, createdAt } = Astro.props;
---

<article class="gb_entry box">
  <div class="message">{message}</div>
  <div class="entry_info">
    {
      url ? (
        <a href={url} rel="external nofollow">
          {username}
        </a>
      ) : (
        <span>{username}</span>
      )
    }
    <time datetime={createdAt} title={createdAt}>
      {createdAt.slice(0, 10)}
    </time>
  </div>
</article>

<style>
  .gb_entry {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .message {
    color: var(--fg);
  }

  .entry_info {
    display: flex;
    flex-direction: column;
    gap: 0 2ch;

    time,
    a,
    span {
      text-align: right;
    }

    @media (min-width: 520px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
