---
interface Props {
  message: string;
  username: string;
  url?: string | null;
  created_at: string;
}

const { message, username, url, created_at } = Astro.props;
import Box from "@components/main/box.astro";
---

<Box tag="article" class="gb_entry">
  <div class="message">{message}</div>
  <div class="entry_info">
    <time datetime={created_at} title={created_at}>
      {created_at.slice(0, 10)}
    </time>
    {
      url ? (
        <a href={url} rel="external nofollow">
          {username}
        </a>
      ) : (
        <span>{username}</span>
      )
    }
  </div>
</Box>

<style>
  .gb_entry {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    gap: 1lh;
  }

  .message {
    color: var(--fg);
  }

  .entry_info {
    display: flex;
    flex-direction: column;
    gap: 0 2ch;

    time,
    a,
    span {
      text-align: right;
    }

    @media (min-width: 520px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
